<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DATN_MD16"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Activitys.Acti_chitietdonhang"
            android:exported="false" />
        <activity
            android:name=".Activitys.Acti_Xiaomi"
            android:exported="false" />
        <activity
            android:name=".Activitys.Acti_vivo"
            android:exported="false" />
        <activity
            android:name=".Activitys.Acti_Oppo"
            android:exported="false" />
        <activity
            android:name=".Activitys.Acti_Samsung"
            android:exported="false" />
        <activity
            android:name=".Activitys.Acty_iphone"
            android:exported="false" />
        <activity
            android:name=".Activitys.DangKi"
            android:exported="false" />
        <activity
            android:name=".ManChay"
            android:exported="true" />
        <activity
            android:name=".Activitys.activitioSlash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activitys.Acti_hoSoCuaToi" />
        <activity android:name=".Activitys.Acti_DiaChi" />
        <activity android:name=".Activitys.MainActivity" />
        <activity android:name=".Activitys.Acti_KhuyenMai" />
        <activity android:name=".Activitys.Acti_doiPass" />
        <activity android:name=".Activitys.Acti_TimKiem" />
        <activity android:name=".Activitys.Acti_GioHang" />
        <activity android:name=".Activitys.Acti_ChiTietSP" />
        <activity android:name=".Activitys.Acti_ChitietKhuyenMai" />
        <activity android:name=".Activitys.DangNhap" />
        <activity android:name=".Activitys.Acti_ThanhToan"
            android:exported="true"
            android:launchMode="singleTask"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="demozpdk"
                    android:host="app" />
            </intent-filter>


        </activity>
    </application>

</manifest>